@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgb(147, 153, 203);
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.item-container {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}

p {
  width: 95%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;

}

.navbar-default {
    background-color: rgb(249, 249, 249);
    border-color: #e7e7e7;
    border-radius: 0;
    border: 0;
}

.navbar-brand{
  font-size: 1.6em;
}

.navbar-default .navbar-nav > li > a{
  color: #000000;
  font-size: 1.3em;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: rgb(147, 153, 203);
  color: #fff;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgb(147, 153, 203);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover > span{
    background-color: #fff;
}

.navbar-default .navbar-toggle {
border-color: rgb(147, 153, 203);
}

.navbar-default .navbar-toggle .icon-bar {
background-color: rgb(147, 153, 203);
}

p#back-to-top{
  font-style: italic;
}
